body { 
    margin: 5px;
    background-image: url(../Images/bkg13.jpg); 
    background-repeat: repeat; 
    background-attachment: fixed;
    }
h1 { 
    font-size: 52pt; 
    color: #d6c031; 
    font-family: "Bowlby One SC", serif; 
    text-decoration: underline; 
    margin: 2px; 
            }
.header { 
    max-width: 800px;
    min-width: 400px;  
    margin: 20px auto;
    border-style: none; 
    border-width: 3px; 
    border-color: #414e52; 
    border-radius: 55px; 
    padding-bottom: 10px; 
    background-color: rgba(40, 113, 133,1); 
    text-align: center; 
    }
.fade {
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -ms-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    
    -webkit-transition-duration: .5s;
    -moz-transition-duration: .5s;
    -ms-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s;
}
.fade2 {
    -webkit-animation-name: fade2;
    -moz-animation-name: fade2;
    -ms-animation-name: fade2;
    -o-animation-name: fade2;
    animation-name: fade2;
    
    -webkit-animation-duration: .75s;
    -moz-animation-duration: .75s;
    -ms-animation-duration: .75s;
    -o-animation-duration: .75s;
    animation-duration: .75s;
}
@-webkit-keyframes fade2 { 
    from {opacity: .2}
    to {opacity: 1} 
}
@-moz-keyframes fade2 { 
    from {opacity: .2}
    to {opacity: 1} 
}
@-ms-keyframes fade2 { 
    from {opacity: .2}
    to {opacity: 1} 
}
@-o-keyframes fade2 { 
    from {opacity: .2}
    to {opacity: 1} 
}
@keyframes fade2 { 
    from {opacity: .2}
    to {opacity: 1}
}

/*Lab Buttons*/
.gallery {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }
.gallerybox { 
    width: 300px; 
    height: 425px;
    margin-left: auto; 
    margin-right: auto; 
    background-color: rgba(40, 113, 133,1); 
    border-style: none; 
    border-width: 3px; 
    border-color: #FA5300; 
    border-radius: 20px; 
    padding-top: 10px; 
    padding-bottom: 10px; 
    text-align: center; 
    cursor: pointer;
    }
.gallerybox:hover { 
    box-shadow: 3px 5px 10px #000000;
    font-weight: 200;
    }

.title { 
    margin: 3px 2px 0px 2px; 
    text-align: center; 
    font-size: 42pt; 
    font-family: "Acme", serif; 
    text-decoration: underline;
    color: #943d12; 
    }
.subtitle { 
    margin: -34px 2px 2px 2px; 
    text-align: center; 
    font-size: 26pt; 
    font-family: "Acme", serif; 
    color: #d6c031; 
    }
img { 
    margin: 2px; 
    border-style: none; 
    border-width: 3px; 
    border-color:  #414e52; 
    border-radius: 25px; 
    }

/*Modal Button*/
.bttn-box { 
    width: 320px;
    height: 480px;
    margin-bottom: 20px;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
    }
.modal-link { 
    width: 250px;
    margin-top: 5px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(40, 113, 133,1); 
    border-style: none; 
    border-width: 3px; 
    border-color: #414e52; 
    border-radius: 20px; 
    padding: 1px;
    font-family: "Acme", serif; 
    font-size: 20pt;
    color: #d1d1d1; 
    }
.modal-link:hover { 
    cursor: pointer;
    box-shadow: 3px 5px 10px #000000;
    font-weight: 200;
    }

/*Modal Elements*/
.modal-box { 
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(13, 72, 87,.9);
    text-align: center;
    justify-content: center;
}
.closeBttn { 
    width: 50px;
    height: 50px;
    margin: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.openLabBttn { 
    width: 50px;
    height: 50px;
    margin: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.poptxt { 
    position: absolute;
    top: 30px;
    left: 50px;
    display: none;
    padding: 2px;
    background-color: #303030;
    font-size: 14pt;
    color: #f0f0f0;
}
.closeBttn:hover .poptxt { display: block; }
.openLabBttn:hover .poptxt { display: block; }


.bttnImg {
    width: 50px;
    height: 50px;
    border: none;
}
.modalBttnBox { 
    display: inline-block;
    position: absolute;
    top: 20px;
    width: 55px;
    height: 200px;
    border: none;
}
.iframe1 { 
    display: inline-block;
    box-sizing: border-box;
    width: 900px;
    min-height: 900px;
    height: 95%;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f0f0f0;
}
    
a:link { color: #943d12; } 
a:active { color: #ccbf0c; }
a:hover { color: #ccbf0c; }
a:visited { color: #733110; }
