body { 
    margin: 5px;
    background-image: url(../Images/bkg13.jpg); 
    background-repeat: repeat; 
    background-attachment: fixed;
    }
h1 { 
    font-size: 52pt; 
    color: #F2F2F2; 
    font-family: 'Paytone One', sans-serif; 
    text-decoration: underline; 
    word-spacing: 20px;
    margin: -10px 2px 2px 2px; 
            }
.header { 
    max-width: 760px;
    min-width: 400px;  
    margin: 20px auto;
    border-style: none; 
    border-width: 3px; 
    border-radius: 55px; 
    padding-top: 0px;
    padding-bottom: 10px; 
    background-color: #287185; 
    text-align: center; 
    }

/*Animations*/
.fade {
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -ms-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    
    -webkit-transition-duration: .5s;
    -moz-transition-duration: .5s;
    -ms-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s;
}
.fade2 {
    -webkit-animation-name: fade2;
    -moz-animation-name: fade2;
    -ms-animation-name: fade2;
    -o-animation-name: fade2;
    animation-name: fade2;
    
    -webkit-animation-duration: .75s;
    -moz-animation-duration: .75s;
    -ms-animation-duration: .75s;
    -o-animation-duration: .75s;
    animation-duration: .75s;
}
@-webkit-keyframes fade2 { 
    from {opacity: .2}
    to {opacity: 1} 
}
@-moz-keyframes fade2 { 
    from {opacity: .2}
    to {opacity: 1} 
}
@-ms-keyframes fade2 { 
    from {opacity: .2}
    to {opacity: 1} 
}
@-o-keyframes fade2 { 
    from {opacity: .2}
    to {opacity: 1} 
}
@keyframes fade2 { 
    from {opacity: .2}
    to {opacity: 1}
}
/*End*/

/*Lab Buttons*/
.gallery {
    float: right;
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    justify-content: center;
    padding: 0px 20px;
    }
.galleryBox { 
    width: 300px; 
    height: 425px;
    margin-left: auto; 
    margin-right: auto; 
    background-color: #287185; 
    border-style: none; 
    border-width: 3px;  
    border-radius: 20px; 
    padding-top: 15px; 
    padding-bottom: 15px; 
    text-align: center; 
    cursor: pointer;
    }
.galleryBox:hover { 
    box-shadow: 3px 5px 10px #000000;
    font-weight: 200;
    }

.title { 
    margin: 3px 2px 0px 2px; 
    text-align: center; 
    font-size: 42pt; 
    font-family: 'Open Sans', sans-serif; 
    font-weight: bold;
    text-decoration: underline;
    color: #F2F2F2; 
    }
.subtitle { 
    margin: -34px 2px 2px 2px; 
    text-align: center; 
    font-size: 26pt; 
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #ffb612; 
    }
img { 
    margin: 2px; 
    border-style: none; 
    border-width: 3px; 
    border-radius: 5px; 
    }
/*End*/

/*Modal Button*/
.bttnBox { 
    width: 320px;
    height: 435px;
    margin: 0px 2px 20px 2px;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
    }
.modalLink { 
    display: none;
    width: 200px;
    margin-top: 5px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: #287185; 
    border-style: none; 
    border-width: 3px; 
    border-color: #414e52; 
    border-radius: 20px; 
    padding: 1px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 20pt;
    color: #ffb612; 
    }
.modalLink:hover { 
    cursor: pointer;
    box-shadow: 3px 5px 10px #000000;
    font-weight: 200;
    }
/*End*/

/*Modal Elements*/
.modalBox { 
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(13, 72, 87,.9);
    text-align: center;
    justify-content: center;
}
.closeBttn { 
    width: 50px;
    height: 50px;
    margin: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.openLabBttn { 
    width: 50px;
    height: 50px;
    margin: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.popTxt { 
    position: absolute;
    top: 30px;
    left: 50px;
    display: none;
    padding: 2px;
    background-color: #303030;
    font-size: 14pt;
    color: #f0f0f0;
}
.closeBttn:hover .popTxt { display: block; }
.openLabBttn:hover .popTxt { display: block; }

.bttnImg {
    width: 50px;
    height: 50px;
    border: none;
}
.modalBttnBox { 
    display: inline-block;
    position: absolute;
    top: 20px;
    width: 55px;
    height: 200px;
    border: none;
}
.iframe1 { 
    position: relative;
    top: 10px;
    display: inline-block;
    box-sizing: border-box;
    width: 650px;
    min-height: 600px;
    height: 95%;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f0f0f0;
}
.center {
    position: relative;
    margin:0 auto;
    width: 780px; 
    height: 100%;
}
.next, .prev {
    cursor: pointer;
    display: inline-block;
    position: absolute;
    top: 50%;
    margin: 10px;
    padding: 2px 5px;
    line-height: 1;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 32pt;
    color: #f0f0f0;
}
.prev {
    left: 10px;
}
.next {
    right: 10px;
}
.next:hover { background-color: rgba(0, 0, 0, .5); }
.prev:hover { background-color: rgba(0, 0, 0, .5); }
.next:hover .popTxt { display: block; }
.prev:hover .popTxt { display: block; }

/*End*/

/*Modal Bar*/
.modalBar {
    display: inline-block;
    min-width: 250px;
    width: 12%;
    position: fixed;
    top: 130px;
    left: 50px;
    margin: 0;
    border-radius: 15px;
    background-color: #287185;
    padding: 2px 15px 15px 15px;
    text-align: center;
}
.modalBarTitle {
    margin: 0px;
    text-align: center;
    color: #F2F2F2;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 34pt;
}
.divider {
    margin-top: 0px; 
    border-style: solid; 
    border-color: #f2f2f2; 
    border-width: 3px; 
    border-radius: 3px;
}
.openLink {
    margin: 0 auto 0 auto;
    line-height: 50px;
    text-align: center;
    color: #ffb612;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 32pt;
    cursor: pointer;
}
.openLink:hover {
    font-size: 34pt;
    text-shadow: 2px 2px 5px #000000;
}
/*End*/

@media screen and (max-width: 1100px) {
    .modalLink {
        display: inline-block;
    }
    .bttnBox {
        height: 500px;
    }
    .modalBar {
        display: none;
    }
    .gallery {
        width: 100%;
    }
}
