body { 
    background-image: url("../Images/OP Luffy.png"), url("../Images/OP Logo.png"), url("../Images/OP Luffy 2.png"), url("../Images/OP bkg 2.jpg");
    background-position: bottom right, 260px 200px, 60px 52px, 0 0;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat; 
    background-attachment: fixed, scroll, scroll, scroll; 
    background-size: 295px 460px, 400px 144px, 350px 333px, 100% 360px;
    margin: 5px; 
    padding: 5px;
    }
h1 { 
    font-size: 12pt; 
    margin-left: 50px;
    background-color: #0672bf; 
    border-style: solid; 
    border-color: #ffffff;
    border-width: 2px; 
    border-radius: 2px; 
    width: 128px;
    }
h2 {
    font-size: 52pt;
    font-family: "Luckiest Guy", cursive;
    color: #ffffff;
    text-shadow: 0 0 5px #000000; 
    position: absolute;
    top: 50%;
    left: 15%;
    }
div.img1 {
    clear: right;
    position: relative;
    top: 340px;
    left: 250px; 
    width: 1100px;
    }
div.p1 {
    background-color: #0672bf; 
    border-style: solid; 
    clear: left;
    width: 1300px;
    height: auto;
    position: relative;
    top: 400px;
    }
img.hbtn {
    float: left;
    margin-right: 5px;
    }
img.crew {
    border-style: solid;
    border-color: #000000;
    border-radius: 2px;
    z-index: -1;
    }
img.left {
    float: left;
    position: static;
    }
img.right {
    float: right;
    }
ul { 
    list-style-image: url("../Images/OP SH Logo 2.png");
    background-color: #0672bf;
    border-style: solid; 
    border-width: 1px;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 20px;
    padding-left: 0;
    overflow: hidden;
    line-height: 30px;
    position: relative;
    top: 305px;
    left: 0;
    }
li { 
    font-size: 20pt; 
    font-family: "Spicy Rice", cursive;
    text-decoration: none;
    float: right;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 20px;
    margin-right: 20px;
    }
li:hover {
    background-color: #03559c;
    color: #ffffff;
    border-style: solid;
    border-color: #000000;
    border-width: 2px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 18px;
    margin-right: 18px;
    }
a:link { color: #ffffff; }
a:visited { color: #f0f0f0; }
a:active { color: #fffb00; }
a.banner:link { 
    color: #ffffff; 
    text-decoration: none; 
    }
a.banner:visited { 
    color: #f0f0f0; 
    text-decoration: none; 
    }
a.banner:active { 
    color: #fffb00; 
    text-decoration: none; 
    }